/* Layout */
.App{
  background-image: url('../src/images/bg-image.png');
  height: 100vh !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
}

.m-l-10{
  margin-left: 10px;
}

.m-r-10{
  margin-right: 10px;
}

.m-l-10-percent{
  margin-left: 10%;
}

.m-r-10-percent{
  margin-right: 10%;
}

.m-b-20{
  margin-bottom: 20px;
}

.main-container-info{
  position: absolute;
  top: 188px;
  left: 250px;
  width: 1032px;
}

.container-info-reunion{
  display: flex;
  flex-direction: row;
}

.container-info-reunion > div{
  height: 43px;
  border-radius: 20px;
  background: white;
  width: 250px;
}

.container-data-reunion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 30px;
}

.main-container-caballos{
  position: absolute;
  bottom: 80px;
  right: 334px;
  width: 425px;
}

.container-info-caballos{
  display: flex;
  flex-direction: column;
}

.container-info-caballos > div{
  height: 70px !important;
  border-radius: 60px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-caballos-numero{
  font-size: 50px;
  font-weight: bold;
}

.text-caballos-nombre{
  font-size: 30px;
  font-weight: bold;
}

/* Animacion */
/* .inactiveAnimation {
  background: transparent;
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
} */

.animation {
  background: transparent;
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.animation.active {
  animation-duration: 0.5s;
  animation-name: mymove ;
  animation-iteration-count: 20;
}

.animation2 {
  background: transparent;
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.animation2.active {
  animation-duration: 0.5s;
  animation-name: mymove ;
  animation-iteration-count: 25;
}


.animation3 {
  background: transparent;
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.animation3.active {
  animation-duration: 0.5s;
  animation-name: mymove ;
  animation-iteration-count: 30;
}

@keyframes mymove {
  from {left: 0px; opacity: 1;}
  to {left: 45px; opacity: 0;}
}

/* Boton de partida */
.button-partida{
  height: 100px;
  border-radius: 40px;
  background: #FF0000;
  width: 270px;
  font-size: 65px;
  position: absolute;
  bottom: 70px;
  left: 70px;
  background-color: #FF0000;
  border-color: #FF0000;
  color: white;
  font-style: italic;
  font-weight: bolder;
  line-height: normal;
}

.button-partida:hover{
  border-color: white !important;
  color: black !important;
}